*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 2rem;
    background: linear-gradient(32deg, rgba(2,0,36,1) 0%, rgba(3,3,33,1) 48%, rgba(7,100,119,1) 100%);
    color: white;
    font-family: cursive;
}

header{
    width: 80vw;
    height: auto;
    margin: 3rem 15rem 0 5rem;
}

h1{
    font-family: Franklin Gothic;
    font-style: oblique;
    font-size: 3.5rem;
    color: #fbe32c;
    text-shadow: 0.2rem 0.3rem #c34c34;
}

nav{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 1rem;
}

nav a{
    color: white;
    background-color: rgb(15, 56, 145);
    width: auto;
    padding: 0.5px 15px 1px;
    margin: 0.2rem;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.3rem;
}

a[href="#"]{
    background-color: rgb(13, 168, 13);
}

.portada{
    width: 100%;
    height: 85vh;
    margin-top: 1rem;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

main{
    width: 80vw;
    height: auto;
    margin: 0 15rem 0 5rem;
    font-size: 1.2rem;
}

.titulo-main{
    width: 100%;
    display: block;
    text-align: center;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 0 0 1rem 1rem;
    border-color: white;
    padding: 0.5rem;
}

h3{
    color: #fbe32c;
    text-shadow: 0.1rem 0.1rem #c34c34;
}

.cuerpo-main{
    width: 100%;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 1rem;
    border-color: white;
    padding: 0.2rem 2.5rem 2.5rem 2.5rem;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-lateral{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 180px;
}

.foto-lateral{
    margin-top: 2rem;
 }

.event{
    align-self: center;
    margin-right: 5rem;
}

.event h4, .about h4{
    margin-top: 2rem;
    color: #fbe32c;
    text-shadow: 0.1rem 0.1rem #c34c34;
}

.event p, .about p, dd p{
    text-indent: 1.5rem;
}

.about{
    width: 50vw;
    align-self: center;
}

table{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
    background-color: #5ba39bc0;
    border-radius: 15px;
}

caption{
    text-align: start;
    margin-bottom: 1rem;
}

caption p{
    font-size: 1rem;
}

th, td{
    padding: 0.5rem;
}

th{
    background-color:  #5a5648;
}

.row-color{
    background-color: rgba(192, 192, 192, 0.521);
}

.row-color2{
    background-color: rgba(214, 214, 214, 0.822);
}

span, h5{
    color: #fbe32c;
    text-shadow: 0.1rem 0.1rem #c34c34;
}

.info-cierre{
    margin-top: 3rem;
    display: flex; 
}

.coordinator{
    margin-left: 5rem;
}

#logo-rules{
    width: 150px;
}

dt{
    margin-top: 1rem;
    color: #fbe32c;
    text-shadow: 0.1rem 0.1rem #c34c34;
}

li{
    list-style-position: inside;
    margin-left: 1rem;
}

.contact{
    align-self: center;
    text-align: center;
}

.main-form{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2{
    width: 60vw;
    align-self: center;
    text-align: center;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 1rem 1rem 0 0;
    border-color: white;
    padding: 0.5rem;
}

form{
    width: 60vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 0.5rem;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 0 0 1rem 1rem;
    border-color: white;
    padding: 0.2rem 2.5rem 2.5rem 2.5rem;
}

fieldset{
    margin-top: 2rem;
    padding: 1rem;
}

input{
   margin-left: 0.5rem;
}

.sign{
    margin-top: 1.5rem;
}

.submit{
    align-self: center;
    color: white;
    font-family: cursive;
    font-size: 1rem;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 0.5rem;
    border-color: white;
    padding: 0.75rem;
    margin-top: 1.2rem;
    background: linear-gradient(32deg, rgba(2,0,36,1) 0%, rgba(3,3,33,1) 48%, rgba(7,100,119,1) 100%);
}

.location{
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 1rem;
    border-color: white;
    padding: 0.2rem 2.5rem 2.5rem 2.5rem;
    margin-top: 1rem;
}

.maps{
    margin-top: 1rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

iframe{
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    margin: 0.5rem 3rem;
}